<div class="container">
  <h1>Quotes</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let quote of quotes; let i = index">
        <div>
          <h4 appHighlight> {{quote.name}} </h4>
          <button (click)="toggleDetails(i)" class="btn btn-primary">
            Details
          </button>
          <app-quote-detail
            *ngIf="quote.showDescription"
            [quote]="quote"
            (isComplete)="deleteQuote($event, i)"
          ></app-quote-detail>
        </div>
      </div>
    </div>
  </div>
</div>
