<div class="container">
  <h1>Quotes</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let quote of quotes; let i = index" >
        <div class="card boarder-success mb-3" style="width: 18rem;height: max-content;" id="qcard" >
          <h5 class="card-title" appHighlight [ngClass]= "{'xyz':quote.isInspirational}"> {{quote.name}}  </h5>
          <h6 class="card-subtitle text-muted">created on {{quote.createDate | date}}</h6>
          <button (click)="toggleDetails(i)" class="details">
            Details
          </button>
          <app-quote-detail
            *ngIf="quote.showDescription"
            [quote]="quote"
            (isCreate)="deleteQuote($event, i)"
            (isUpVote)="upVote($event, i)"
            (isDownVote)="downVote($event, i)">
          </app-quote-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
    </div>
  </div>
</div>
